.botao-menu {
    border: 1px solid #ccc;
    height: 2.5rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
}

.menu {
    border: 1px solid #ccc;
    width: 12rem;
    height: calc(100vh - 2.5rem);
    padding-left: 2rem;
    padding-top: 2rem;
    background: white;
    transition: translate 2s;
}

.menu nav {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.menu.close {
    translate: -100%;
}

.menu-desktop {
    display: none;
}

@media(min-width: 900px) {
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: flex;
        justify-content: space-around;
    }
}